.assets {
    display: flex;
    flex-direction: column;
    padding-left: 15px;

    &__list {
        font-size: 14px;
        line-height: 1.71;
        color: $text-color;
        display: flex;
        flex-direction: column;
        margin-top: 94px;
    }
    &__icon {
        width: calc(100vw - 30px);
        max-width: 450px;
        min-height: 50px;
        background-color: $creamy-color;
        margin-bottom: 30px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: calc(100vw - 30px);
    }
    &__header {
        width: fit-content;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        color: $main-color;
        margin-bottom: 10px;
        text-align: center;
    }
    &__text {
        margin-bottom: 30px;
        max-width: 450px;
    }
}

@media (min-width: 768px) {
    .assets {
        display: flex;

        &__list {
            gap: 30px;
            display: flex;
            flex-direction: row;
        }
        &__item {
            flex-basis: calc((100% - 60px) / 2);
            justify-content: center;
        }

        &__icon {
            width: calc((100vw - 60px) / 2);
            max-width: 354px;
            min-height: 50px;
        }

        &__text {
            margin-bottom: 30px;
            max-width: 354px;
        }
    }
}
.assets > .assets__list {
    display: flex;
    flex-wrap: wrap;
}
@media (min-width: 1200px) {
    .assets {
        &__list {
            line-height: 1.71;
        }
        &__item {
            flex-basis: calc((100% - 90px) / 4);
            max-width: 270px;
        }
        &__icon {
            max-width: 270px;
        }
    }
}
