.assets {
    display: flex;
    flex-direction: column;
    width: 100vw;

    &__list {
        font-size: 14px;
        line-height: 1.71;
        color: $text-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 94px;
        padding-left: 15px;
    }
    &__icon {
        width: 450px;
        background-color: $creamy-color;
        margin-bottom: 30px;
    }
    &__item {
        display: block;
        flex-basis: calc((100% - 60px) / 2);
    }
    &__header {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        color: $main-color;
        margin-bottom: 10px;
        text-align: center;
    }
    &__text {
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {
    .assets {
        flex-direction: row;

        &__list {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
            padding-left: 0;
        }
        &__item {
            max-width: 354px;
        }

        &__icon {
            width: 354px;
        }
        &__header {
            text-align: start;
        }
    }
}

@media (min-width: 1200px) {
    .assets {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        &__list {
            gap: 30px;
            line-height: 1.71;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
        &__item {
            flex-basis: calc((1200px - 90px) / 4);
        }
        &__icon {
            max-width: 270px;
        }
    }
}
