.contacts {
    display: none;
}

@media (min-width: 768px) {
    .contacts {
        display: flex;
        align-items: center;
        padding-left: 0;

        color: $text-color;

        &__link,
        &__icon,
        &__link--second {
            position: absolute;
            left: 615px;
            top: 21px;
            width: 135px;
            height: 16px;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.14em;
            text-decoration: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: $text-color;
            transition-property: color;
            transition: $transition;
            &:hover,
            &:focus,
            &:active {
                color: $brand-color;
            }
        }
        &__link--second {
            top: 45px;
            width: 110px;
        }
        &__icon {
            fill: $text-color;
            left: -25px;
            top: 3px;
            margin-right: 10px;
            width: 14px;
            height: 10px;
        }
        &__icon--second {
            width: 10px;
            height: 14px;
        }
    }

    .contacts > .contacts__list {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .contacts__link:hover svg,
    .contacts__link:focus svg,
    .contacts__link:active svg {
        transition-property: fill;
        transition: $transition;
        fill: $brand-color;
    }
}

@media (min-width: 1200px) {
    .contacts {
        &__link {
            left: 1052px;
            top: 32px;
        }

        &__link--second {
            height: 16px;
            left: 1243px;
            top: 32px;
        }
        &__icon--second {
            top: 1.09%;
        }
    }
}
