.contacts {
    display: none;
}

@media (min-width: 768px) {
    .contacts {
        display: flex;
        flex-direction: column;
        color: $text-color;
        margin-top: 10px;

        &__list {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }
        &__link,
        &__icon,
        &__link--second {
            width: 135px;
            height: 16px;

            font-size: 14px;
            font-weight: 500;
            line-height: 1.14em;
            text-decoration: none;
            color: $text-color;
            transition-property: color;
            transition: $transition;
            &:hover,
            &:focus,
            &:active {
                color: $brand-color;
            }
        }
        &__link--second {
            width: 110px;
        }
        &__icon {
            display: block;
            position: absolute;
            right: 160px;
            top: 20px;
            fill: $text-color;
            width: 14px;
            height: 10px;
        }
        &__icon--second {
            width: 10px;
            height: 14px;
            top: 45px;
            right: 165px;
        }
    }
    .contacts__list > .contacts__link {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .contacts__link:hover svg,
    .contacts__link:focus svg,
    .contacts__link:active svg {
        transition-property: fill;
        transition: $transition;
        fill: $brand-color;
    }
}

@media (min-width: 1200px) {
    .contacts {
        display: flex;

        &__link--second {
            height: 16px;
        }
    }
}
