.form {
    display: flex;
    flex-direction: column;

    &__header {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15em;
        text-align: center;
        letter-spacing: 0.03em;
        color: $primary-color;
        margin-top: 40px;
        margin-bottom: 12px;
        width: 370px;
        margin-left: 40px;
    }
    &__label {
        margin-left: 40px;
        margin-bottom: 10px;
        margin-right: 40px;
    }

    &__data {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16em;
        letter-spacing: 0.01em;
        color: $text-color;
    }
    &__icon {
        position: absolute;
        width: 18px;
        height: 18px;
        margin-top: 11px;
        margin-left: 47px;
    }
    &__input {
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        width: 370px;
        height: 40px;
        margin-left: 40px;
        outline: none;
        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:active,
        &:focus,
        &:hover {
            border: 1px solid $brand-color;
            outline: none;
        }
    }

    &__input2 {
        width: 370px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding-top: 12px;
        padding-left: 16px;
        margin-left: 40px;
        outline: none;
        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:active,
        &:focus,
        &:hover {
            border: 1px solid $brand-color;
            outline: none;
        }

        &::placeholder {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.01em;
            color: $input2-color;
        }
    }

    &__btn {
        width: 200px;
        height: 50px;
        background: $brand-color;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        margin-left: 125px;
        margin-bottom: 0px;
        cursor: pointer;
    }

    &__btn-text {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.8em;
        letter-spacing: 0.06em;
        color: $white-color;
        margin-bottom: 40px;
    }
}

.form__container > svg {
    transition-property: fill;
    transition: $transition;
}
.form__container:active > svg,
.form__container:focus-within > svg,
.form__container:hover > svg {
    fill: $brand-color;
}
.checkbox {
    margin-bottom: 30px;
    display: flex;
    align-items: center;

    &__input {
        appearance: none;
    }
    &__label {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16em;
        letter-spacing: 0.03em;
        color: $text-color;
        position: relative;
        margin-left: 65px;
        white-space: nowrap;
        margin-top: 10px;

        &::before {
            display: block;
            position: absolute;
            left: -25px;
            content: "";
            width: 16px;
            height: 15px;
            border: 2px solid $primary-color;
            border-radius: 2px;
            cursor: pointer;
        }
    }
    &__statute {
        color: $brand-color;
    }
}
.checkbox__input:checked + .checkbox__label::before {
    background: url(../images/icon\ check.jpg);
    border: none;
}

textarea {
    resize: none;
}
.message {
    width: 370px;
    height: 120px;
    color: $main-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.01em;
}
@media (min-width: 1200px) {
    .form {
        &__header {
            white-space: nowrap;
            line-height: 1.17em;
            width: 448px;
        }
        &__input {
            width: 448px;
        }
        &__input2 {
            width: 448px;
        }
        &__label {
            font-size: 14px;
            line-height: 1.71em;
        }

        &__btn {
            margin-left: 164px;
        }
    }
    .checkbox {
        &__label {
            font-size: 14px;
            line-height: 1.71em;

            &::before {
                top: 5px;
            }
        }
    }
}
