.header {
    width: 100vw;
    border-bottom: 1px solid $creamy-color;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        max-width: 100vw;
        height: 60px;
        display: flex;
        justify-content: center;
        margin: 0, auto;
    }
}
@media (min-width: 768px) {
    .header__container {
        height: 80px;
    }
}

@media (min-width: 1200px) {
    .header__container {
        width: 1200px;
        height: 80px;
        margin-left: 0px;
        padding-left: 0px;
    }
}
