.header {
    border-bottom: 1px solid $creamy-color;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        width: 480px;
        height: 60px;
        display: flex;
        justify-content: center;
        margin: 0, auto;
    }
}
@media (min-width: 768px) {
    .header__container {
        width: 768px;
        height: 80px;
    }
}

@media (min-width: 1200px) {
    .header__container {
        width: 1600px;
        height: 80px;
    }
}
