.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16em;
    color: $main-color;
    letter-spacing: 0.03em;
    text-decoration: none;

    &__nav {
        width: 134px;
        height: 28px;
        position: absolute;
        left: 15px;
        top: 16px;
    }
    &__highlight {
        color: $brand-color;
    }
    &__title {
        color: $main-color;
    }

    &__title--footer {
        color: $white-color;
    }
}
@media (min-width: 768px) {
    .logo__nav {
        top: 26px;
        bottom: 26px;
        margin-right: 83px;
    }
}
@media (min-width: 1200px) {
    .logo {
        font-size: 26px;
        line-height: 1.19em;

        &__nav {
            left: 215px;
            width: 145px;
            height: 31px;
            top: 24px;
            bottom: 25px;
            margin-right: 93px;
        }
    }
}
