.main__box {
    width: 100vw;
    background-color: $main-color;
    background-image: linear-gradient(
            to bottom,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url("../images/img.responsive/bgimg480x1.jpg");
    box-shadow: 0px 4px 4px 0px $shadow-color;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    padding-top: 118px;
    padding-bottom: 118px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../images/img.responsive/bgimg480x2.jpg");
    }
}
h1 {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.62em;
    text-align: center;
    letter-spacing: 0.06em;
    color: $white-color;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .main__box {
        background-image: linear-gradient(
                to bottom,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url("../images/img.responsive/bgimg768x1.jpg");
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url("../images/img.responsive/bgimg768x2.jpg");
        }
    }
}
@media (min-width: 1200px) {
    .main__box {
        background-image: linear-gradient(
                to bottom,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url("../images/img.responsive/bgimg1200x1.jpg");
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url("../images/img.responsive/bgimg1200x2.jpg");
        }
        height: 600px;
    }
    h1 {
        font-size: 44px;
        line-height: 1.36;
    }
}
