.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $creamy-color;
    width: 480px;

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__header {
        margin-top: 60px;
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17em;
        letter-spacing: 0.03em;
    }
    &__members {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__list {
        display: flex;
        max-width: 450px;
    }
    &__img {
        width: 450px;
        height: 460px;
    }
    &__description {
        color: $text-color;
        font-size: 16px;
        line-height: 1.8;
        display: flex;
        padding: 0;
        margin: 0;
        margin-bottom: 30px;
        background-color: $white-color;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }

    &__card {
        width: 450px;
        padding: 0;
        margin: 0;
    }
}
.team__members:last-child {
    margin-bottom: 60px;
}
.photo {
    font-size: 16px;
    line-height: 1.18;
    color: $text-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 27px;
    margin-bottom: 24px;

    &__name {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.18;
        color: $main-color;
        margin-bottom: 10px;
    }
}
.social {
    display: flex;

    &__list {
        margin-top: 16px;
    }

    &__circle {
        width: 44px;
        height: 44px;
        border-radius: 50px;
        padding: 12px;
        background-color: $white-color;
        transition-property: background-color;
        transition: $transition;

        &:hover,
        &:focus,
        &:active {
            background-color: $brand-color;
        }
    }

    &__icon {
        fill: $current-color;
    }
}
.social__list:not(:last-child) {
    margin-right: 10px;
}
.social__circle:hover > svg,
.social__circle:focus > svg,
.social__circle:active > svg {
    fill: $white-color;
}
.social__circle > .social__icon {
    transition-property: fill;
    transition: $transition;
}
.social__icon:hover,
.social__icon:focus,
.social__icon:active {
    fill: $white-color;
}
figure {
    width: 450px;
    height: 622px;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .team {
        flex-direction: row;
        width: 768px;
        height: 1285px;

        &__members {
            flex-direction: row;
            flex-basis: calc((768px - 90px) / 4);
            flex-wrap: wrap;
        }
        &__img {
            width: 354px;
            height: 374px;
        }
        &__card {
            width: 354px;
            height: 536px;
        }

        .team__list:nth-child(1) {
            margin-right: 30px;
        }
        .team__list:nth-child(3) {
            margin-right: 30px;
        }
    }
}
@media (min-width: 1200px) {
    .team {
        padding: 0;
        width: 1600px;
        height: 708px;
        margin-left: 0;

        &__box {
            position: relative;
            left: 14px;
        }
        &__header {
            width: 209px;
            height: 42px;
            margin-top: 94px;
            margin-bottom: 50px;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.16em;
            white-space: nowrap;
        }
        &__members {
            flex-wrap: nowrap;
            flex-direction: row;
            padding-bottom: 94px;
            margin: 0;
        }
        &__list {
            width: 270px;
        }
        &__img {
            width: 270px;
            height: 260px;
        }
        &__card {
            width: 270px;
            height: 428px;
        }
    }
    .team__members > .team__list:not(:last-child) {
        margin-right: 30px;
    }

    figure {
        width: 270px;
        height: 428px;
    }
}
