* {
    padding: 0;
    margin: 0;
}

$brand-color: #2196f3;
$main-color: #000000;
$text-color: #757575;
$white-color: #ffffff;
$medium-color: #2f303a;
$creamy-color: #f5f4fa;
$primary-color: #212121;
$secondary-color: #ffffff99;
$shadow-color: #00000040;
$circle-color: rgba(255, 255, 255, 0.1);
$current-color: #afb1b8;
$cross-color: rgba(0, 0, 0, 0.1);
$input-color: rgba(255, 255, 255, 0.6);
$input2-color: rgba(117, 117, 117, 0.5);
$background-color: #ffffff;
$backdrop-color: rgba(0, 0, 0, 0.3);
$overlay-color: rgba(33, 150, 243, 0.9);
$border-overlay-color: #eeeeee;
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
